@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

*{
    font-family: 'Noto Sans', sans-serif;
}

html,body {
    padding: 0;
    margin: 0;
}

.pagewarp{
    display: grid;
    grid-template-areas: 
    "header"
    "container";
    grid-template-rows: 70px 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
    margin: 0; 
}

.header {
    grid-area: header;
    box-shadow: 0 0 7px gray;
    z-index: 1;
}

.container {
    grid-area: container;
    background-color: #f1f2f6;
    text-align: center;
}


.inner {
    width: 100%;
    line-height: 70px;
}

.inner > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.menubar, .logo-item, .search-block {
    float: left;
    margin-right: 25px;
}

.menubar, .logo-item {
    font-size: 24px;
}

.menubar {
    cursor: pointer;
}

.logo {
    color: #34495e;
    cursor: pointer;
    font-family: 'Fredoka One', sans-serif;
}


.button-item{
    float: right;
}

.search-block {
    font-size: 18px;
    position: relative;
}

.search {
    height: 40px;
    border: 0;
    border-radius: 5px;
    background-color: #ecf0f1;
    width: 250px;
    padding-right: 30px;
    padding-left: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    outline: none;
    color: #34495e;
    transition: 0.2s ease;
}

.search:focus {
    box-shadow: 0 0 3px;
}

.search-block > i {
    position: absolute;
    right: 10px;
    top: 27px;
    color: gray;
    cursor: pointer;
}

.testcreate-button {
    height: 45px;
    width: 130px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 16px;
    border: 0;
    background-color: #1abc9c;
    border-radius: 5px;
    cursor: pointer;
}

.testcreate-button:focus {
    outline: 0;
}

h1 {
    font-size: 100px;
    color: gray;
}